div.one {
	background-color: rgb(127,127,127);
	height: 100%;
	width:70%;
	margin-top:100px;
	margin-left:110px;
	margin-bottom: 500px;
    
}
div.play
{
	margin-top: 100px;
	color:red;
	margin-bottom: 3px;
	height:500px;
	width: 100%;
	background-color: transparent;
}
div.fun
{
	background-color: rgba(0,0,0,0.75);
}


div.loca
{
	border:5px solid green;
}
div.blog
{
	margin-left: 200px;
}
div.hw
{
	margin-left: 100px;
	margin-top: 50px;
}